body {
    background: lightslategray;
}
.crystalhead {
    background-image: url("../images/crystal_back.jpg");
    color: white;
}

.text-white {
    color: white;
}

.score {
    text-align: center;
}


